# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js
/.next/
/out/
/build
next-env.d.ts

# production
/dist

# testing
/coverage

# env / secrets
.env
.env*.local
.env.development
.env.production
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
